---
import "@fontsource/mononoki/400.css";
import "@fontsource/mononoki/700.css";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="description"
      content="Variant: Yearly Hacktoberfest Leaderboard"
    />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>{title}</title>
  </head>
  <body>
    <section
      class="bg bg-hero-pattern bg-no-repeat min-h-svh bg-[center_top_-1.5rem] max-w-screen-md m-auto"
    >
      <header class="flex justify-center items-start p-8 mb-10">
        <img src="/hex.svg" alt="Variant: Hacktoberfest" />
      </header>

      <slot />
    </section>
  </body>
</html>
<style is:global>
  :root {
    --accent: 136, 58, 234;
    --accent-light: 224, 204, 250;
    --accent-dark: 49, 10, 101;
    --accent-gradient: linear-gradient(
      45deg,
      rgb(var(--accent)),
      rgb(var(--accent-light)) 30%,
      white 60%
    );
  }
  html {
    font-family: "Mononoki", monospace;
    background: #f2f2f2;
    color: #1b1b1b;
  }
  code {
    font-family: "Mononoki", monospace;
  }
</style>
